<div class="page-header">
  <%= link_to scenes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <% end %>
  <%= link_to edit_scene_path(@scene), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show scene</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @scene.name %></dd>
  <dt>Description:</dt>
  <dd><%= @scene.description %></dd>
  <dt>Address:</dt>
  <dd><%= @scene.address %></dd>
  <dt>City:</dt>
  <dd><%= @scene.city %></dd>
  <dt>State:</dt>
  <dd><%= @scene.state %></dd>
  <dt>Zip:</dt>
  <dd><%= @scene.zip %></dd>
  <dt>Scene Shot:</dt>
  <dd><%= image_tag @scene.scene_shot.url(:poster) %></dd>
  <dt>Location Shot:</dt>
  <dd><%= image_tag @scene.location_shot.url(:poster) %></dd>

</dl>
